<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.plou.web.system.baseMessage.producer.dao.ProducerMapper">
  <resultMap id="BaseResultMap" type="cn.plou.web.system.baseMessage.producer.entity.Producer">
    <id column="producer_id" jdbcType="VARCHAR" property="producerId" />
    <result column="producer_name" jdbcType="VARCHAR" property="producerName" />
    <result column="super_producer_id" jdbcType="VARCHAR" property="superProducerId" />
    <result column="company_id" jdbcType="VARCHAR" property="companyId" />
    <result column="total_load" jdbcType="VARCHAR" property="totalLoad" />
    <result column="device_conf" jdbcType="VARCHAR" property="deviceConf" />
    <result column="area" jdbcType="DECIMAL" property="area" />
    <result column="length" jdbcType="DECIMAL" property="length" />
    <result column="longitude" jdbcType="VARCHAR" property="longitude" />
    <result column="latitude" jdbcType="VARCHAR" property="latitude" />
    <result column="height" jdbcType="DECIMAL" property="height" />
    <result column="department_id" jdbcType="VARCHAR" property="departmentId" />
    <result column="charge_person" jdbcType="VARCHAR" property="chargePerson" />
    <result column="notes" jdbcType="VARCHAR" property="notes" />
    <result column="memo1" jdbcType="VARCHAR" property="memo1" />
    <result column="memo2" jdbcType="VARCHAR" property="memo2" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="producer_type_id" jdbcType="VARCHAR" property="producerTypeId" />
    <result column="business_type" jdbcType="VARCHAR" property="businessType" />
  </resultMap>
  <resultMap id="BaseInfoMap" type="cn.plou.web.system.baseMessage.producer.vo.ProducerInfo">
    <id column="producer_id" jdbcType="VARCHAR" property="producerId" />
    <result column="producer_name" jdbcType="VARCHAR" property="producerName" />
    <result column="super_producer_id" jdbcType="VARCHAR" property="superProducerId" />
    <result column="super_producer_name" jdbcType="VARCHAR" property="superProducerName" />
    <result column="company_id" jdbcType="VARCHAR" property="companyId" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="total_load" jdbcType="VARCHAR" property="totalLoad" />
    <result column="device_conf" jdbcType="VARCHAR" property="deviceConf" />
    <result column="area" jdbcType="DECIMAL" property="area" />
    <result column="length" jdbcType="DECIMAL" property="length" />
    <result column="longitude" jdbcType="VARCHAR" property="longitude" />
    <result column="latitude" jdbcType="VARCHAR" property="latitude" />
    <result column="height" jdbcType="DECIMAL" property="height" />
    <result column="department_id" jdbcType="VARCHAR" property="departmentId" />
    <result column="department_name" jdbcType="VARCHAR" property="departmentName" />
    <result column="charge_person" jdbcType="VARCHAR" property="chargePerson" />
    <result column="staff_name" jdbcType="VARCHAR" property="staffName" />
    <result column="notes" jdbcType="VARCHAR" property="notes" />
    <result column="memo1" jdbcType="VARCHAR" property="memo1" />
    <result column="memo2" jdbcType="VARCHAR" property="memo2" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="producer_type_id" jdbcType="VARCHAR" property="producerTypeId" />
    <result column="producer_type_name" jdbcType="VARCHAR" property="producerTypeName" />
    <result column="business_type" jdbcType="VARCHAR" property="businessType" />
    <result column="business_type_name" jdbcType="VARCHAR" property="businessTypeName" />
  </resultMap>

  <sql id="Base_Column_List">
    producer_id, producer_name, super_producer_id, company_id, total_load, device_conf,
    area, length, longitude, latitude, height, department_id, charge_person, notes, memo1, 
    memo2, create_date, create_user, update_date, update_user, producer_type_id, business_type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from producer_info
    where producer_id = #{producerId,jdbcType=VARCHAR}
  </select>

  <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from producer_info
    where producer_name = #{producerName,jdbcType=VARCHAR}
  </select>

  <select id="selectProducerByCompanyId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    producer_id,producer_name
    from producer_info
    where company_id = #{companyId,jdbcType=VARCHAR}
  </select>

  <select id="selectAllProducer"  parameterType="map" resultMap="BaseInfoMap">
    select
    p.producer_id producer_id, p.producer_name producer_name, p.super_producer_id super_producer_id, pi.producer_name super_producer_name,
    p.company_id company_id,c.company_name company_name, p.total_load total_load, p.device_conf device_conf,p.area area, p.length length, p.longitude longitude,
    p.latitude latitude, p.height height, p.department_id department_id,d.department_name department_name, p.charge_person charge_person,
    p.notes notes, p.memo1 memo1,p.memo2 memo2, p.create_date create_date, p.create_user create_user, p.update_date update_date,
    p.update_user update_user,p.producer_type_id producer_type_id,
    p.business_type business_type
    from producer_info p
    left join producer_info pi on p.super_producer_id=pi.producer_id
    left join company_info c on p.company_id=c.company_id
    left join department_info d on p.department_id=d.department_id
    where 1=1
    <if test="companyIds!=null">
    <if test="companyIds.size()>0">
      and p.company_id in
      <foreach collection="companyIds" index="index" item="item" open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
    </if>
    <if test="producerId != null">
      and p.super_producer_id = #{producerId,jdbcType=VARCHAR}
    </if>
    <if test="producerVo!=null">
      <if test="producerVo.producerName != null">
        and p.producer_name like concat('%',#{producerVo.producerName},'%')
      </if>
      <if test="producerVo.superProducerId != null">
        and p.super_producer_id =#{producerVo.superProducerId}
      </if>
      <if test="producerVo.companyId != null">
        and p.company_id =#{producerVo.companyId}
      </if>
      <if test="producerVo.producerTypeId != null">
        and p.producer_type_id =#{producerVo.producerTypeId}
      </if>
    </if>
    <if test="sortby != null">
      order by ${sortby}
    </if>
    <if test="order != null">
     ${order}
    </if>
    <!--<if test="page!=null">-->
      <!--<if test="pageSize!=null">-->
        <!--limit ${page},${pageSize}-->
      <!--</if>-->
    <!--</if>-->
  </select>

  <select id="selectProducerByProducerIds"  parameterType="map" resultMap="BaseInfoMap">
    select
    p.producer_id producer_id, p.producer_name producer_name, p.super_producer_id super_producer_id, pi.producer_name super_producer_name,
    p.company_id company_id,c.company_name company_name, p.total_load total_load, p.device_conf device_conf,p.area area, p.length length, p.longitude longitude,
    p.latitude latitude, p.height height, p.department_id department_id,d.department_name department_name, p.charge_person charge_person,
    s.staff_name staff_name,p.notes notes, p.memo1 memo1,p.memo2 memo2, p.create_date create_date, p.create_user create_user, p.update_date update_date,
    p.update_user update_user,p.producer_type_id producer_type_id,
    p.business_type business_type
    from producer_info p
    left join producer_info pi on p.super_producer_id=pi.producer_id
    left join company_info c on p.company_id=c.company_id
    left join department_info d on p.department_id=d.department_id
    left join staff_info s on p.charge_person=s.staff_id
    where 1=1
    <if test="producerIds.size()>0">
      and p.producer_id in
      <foreach collection="producerIds" index="index" item="item" open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
    <if test="producerId != null">
      and p.super_producer_id = #{producerId,jdbcType=VARCHAR}
    </if>
    <if test="producerVo!=null">
      <if test="producerVo.producerName != null">
        and p.producer_name like concat('%',#{producerVo.producerName},'%')
      </if>
      <if test="producerVo.superProducerId != null">
        and p.super_producer_id =#{producerVo.superProducerId}
      </if>
      <if test="producerVo.companyId != null">
        and p.company_id =#{producerVo.companyId}
      </if>
      <if test="producerVo.producerTypeId != null">
        and p.producer_type_id =#{producerVo.producerTypeId}
      </if>
    </if>
    <if test="sortby != null">
      order by ${sortby}
    </if>
    <if test="order != null">
      ${order}
    </if>
    <!--<if test="page!=null">-->
      <!--<if test="pageSize!=null">-->
        <!--limit ${page},${pageSize}-->
      <!--</if>-->
    <!--</if>-->
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from producer_info
    where producer_id = #{producerId,jdbcType=VARCHAR}
  </delete>

  <delete id="deleteProducerBatchByIds" parameterType="java.util.List">
    delete from producer_info
    where producer_id in
    <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>

  <insert id="insert" parameterType="cn.plou.web.system.baseMessage.producer.entity.Producer">
    insert into producer_info (producer_id, producer_name, super_producer_id, 
      company_id, total_load, device_conf,
      area, length, longitude, 
      latitude, height, department_id, 
      charge_person, notes, memo1, 
      memo2, create_date, create_user, 
      update_date, update_user, producer_type_id, 
      business_type)
    values (#{producerId,jdbcType=VARCHAR}, #{producerName,jdbcType=VARCHAR}, #{superProducerId,jdbcType=VARCHAR}, 
      #{companyId,jdbcType=VARCHAR}, #{totalLoad,jdbcType=DECIMAL}, #{deviceConf,jdbcType=VARCHAR},
      #{area,jdbcType=DECIMAL}, #{length,jdbcType=DECIMAL}, #{longitude,jdbcType=VARCHAR}, 
      #{latitude,jdbcType=VARCHAR}, #{height,jdbcType=DECIMAL}, #{departmentId,jdbcType=VARCHAR}, 
      #{chargePerson,jdbcType=VARCHAR}, #{notes,jdbcType=VARCHAR}, #{memo1,jdbcType=VARCHAR}, 
      #{memo2,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, #{producerTypeId,jdbcType=VARCHAR}, 
      #{businessType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.plou.web.system.baseMessage.producer.entity.Producer">
    insert into producer_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="producerId != null">
        producer_id,
      </if>
      <if test="producerName != null">
        producer_name,
      </if>
      <if test="superProducerId != null">
        super_producer_id,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="totalLoad != null">
        total_load,
      </if>
      <if test="deviceConf != null">
        device_conf,
      </if>
      <if test="area != null">
        area,
      </if>
      <if test="length != null">
        length,
      </if>
      <if test="longitude != null">
        longitude,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
      <if test="height != null">
        height,
      </if>
      <if test="departmentId != null">
        department_id,
      </if>
      <if test="chargePerson != null">
        charge_person,
      </if>
      <if test="notes != null">
        notes,
      </if>
      <if test="memo1 != null">
        memo1,
      </if>
      <if test="memo2 != null">
        memo2,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="producerTypeId != null">
        producer_type_id,
      </if>
      <if test="businessType != null">
        business_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="producerId != null">
        #{producerId,jdbcType=VARCHAR},
      </if>
      <if test="producerName != null">
        #{producerName,jdbcType=VARCHAR},
      </if>
      <if test="superProducerId != null">
        #{superProducerId,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="totalLoad != null">
        #{totalLoad,jdbcType=DECIMAL},
      </if>
      <if test="deviceConf != null">
        #{deviceConf,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        #{area,jdbcType=DECIMAL},
      </if>
      <if test="length != null">
        #{length,jdbcType=DECIMAL},
      </if>
      <if test="longitude != null">
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="height != null">
        #{height,jdbcType=DECIMAL},
      </if>
      <if test="departmentId != null">
        #{departmentId,jdbcType=VARCHAR},
      </if>
      <if test="chargePerson != null">
        #{chargePerson,jdbcType=VARCHAR},
      </if>
      <if test="notes != null">
        #{notes,jdbcType=VARCHAR},
      </if>
      <if test="memo1 != null">
        #{memo1,jdbcType=VARCHAR},
      </if>
      <if test="memo2 != null">
        #{memo2,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="producerTypeId != null">
        #{producerTypeId,jdbcType=VARCHAR},
      </if>
      <if test="businessType != null">
        #{businessType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.plou.web.system.baseMessage.producer.entity.Producer">
    update producer_info
    <set>
      <if test="producerName != null">
        producer_name = #{producerName,jdbcType=VARCHAR},
      </if>
      <if test="superProducerId != null">
        super_producer_id = #{superProducerId,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="totalLoad != null">
        total_load = #{totalLoad,jdbcType=VARCHAR},
      </if>
      <if test="deviceConf != null">
        device_conf = #{deviceConf,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        area = #{area,jdbcType=DECIMAL},
      </if>
      <if test="length != null">
        length = #{length,jdbcType=DECIMAL},
      </if>
      <if test="longitude != null">
        longitude = #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="height != null">
        height = #{height,jdbcType=DECIMAL},
      </if>
      <if test="departmentId != null">
        department_id = #{departmentId,jdbcType=VARCHAR},
      </if>
      <if test="chargePerson != null">
        charge_person = #{chargePerson,jdbcType=VARCHAR},
      </if>
      <if test="notes != null">
        notes = #{notes,jdbcType=VARCHAR},
      </if>
      <if test="memo1 != null">
        memo1 = #{memo1,jdbcType=VARCHAR},
      </if>
      <if test="memo2 != null">
        memo2 = #{memo2,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="producerTypeId != null">
        producer_type_id = #{producerTypeId,jdbcType=VARCHAR},
      </if>
      <if test="businessType != null">
        business_type = #{businessType,jdbcType=VARCHAR},
      </if>
    </set>
    where producer_id = #{producerId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.plou.web.system.baseMessage.producer.entity.Producer">
    update producer_info
    set producer_name = #{producerName,jdbcType=VARCHAR},
      super_producer_id = #{superProducerId,jdbcType=VARCHAR},
      company_id = #{companyId,jdbcType=VARCHAR},
      total_load = #{totalLoad,jdbcType=VARCHAR},
      device_conf = #{deviceConf,jdbcType=VARCHAR},
      area = #{area,jdbcType=DECIMAL},
      length = #{length,jdbcType=DECIMAL},
      longitude = #{longitude,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=VARCHAR},
      height = #{height,jdbcType=DECIMAL},
      department_id = #{departmentId,jdbcType=VARCHAR},
      charge_person = #{chargePerson,jdbcType=VARCHAR},
      notes = #{notes,jdbcType=VARCHAR},
      memo1 = #{memo1,jdbcType=VARCHAR},
      memo2 = #{memo2,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      producer_type_id = #{producerTypeId,jdbcType=VARCHAR},
      business_type = #{businessType,jdbcType=VARCHAR}
    where producer_id = #{producerId,jdbcType=VARCHAR}
  </update>
  <update id="updateProducerBatch" parameterType="cn.plou.web.system.baseMessage.producer.vo.ProducerVo" >
   update producer_info
    <set>
      <if test="producerName != null">
        producer_name = #{producerName,jdbcType=VARCHAR},
      </if>
      <if test="superProducerId != null">
        super_producer_id = #{superProducerId,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="totalLoad != null">
        total_load = #{totalLoad,jdbcType=VARCHAR},
      </if>
      <if test="deviceConf != null">
        device_conf = #{deviceConf,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        area = #{area,jdbcType=DECIMAL},
      </if>
      <if test="length != null">
        length = #{length,jdbcType=DECIMAL},
      </if>
      <if test="longitude != null">
        longitude = #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="height != null">
        height = #{height,jdbcType=DECIMAL},
      </if>
      <if test="departmentId != null">
        department_id = #{departmentId,jdbcType=VARCHAR},
      </if>
      <if test="chargePerson != null">
        charge_person = #{chargePerson,jdbcType=VARCHAR},
      </if>
      <if test="notes != null">
        notes = #{notes,jdbcType=VARCHAR},
      </if>
      <if test="producerTypeId != null">
        producer_type_id = #{producerTypeId,jdbcType=VARCHAR},
      </if>
      <if test="businessType != null">
        business_type = #{businessType,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
    </set>
    where producer_id in
    <foreach collection="producerIds" index="index" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </update>
      <select id="getMaxProducerId"  resultType="java.lang.String">
        select
        	max(producer_id)
        from producer_info
    </select>
</mapper>